<div class="page-header">
  <h1>
    Friends
    <a href="/friends/new" class="btn btn-lg btn-success">New Friend</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "friends_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :accepted_at, "Accepted at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='accepted_atgteqPicker'>
                  <%= f.text_field :accepted_at_gteq, :class => "form-control", :placeholder => "Accepted at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='accepted_atlteqPicker'>
                  <%= f.text_field :accepted_at_lteq, :class => "form-control", :placeholder => "Accepted at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#accepted_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#accepted_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#accepted_atgteqPicker').on("dp.change", function (e) {
                  $('#accepted_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#accepted_atlteqPicker').on("dp.change", function (e) {
                  $('#accepted_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
          <%= f.label :created_at, "Recommend Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='recommendsgteqcreated_atPicker'>
                  <%= f.text_field :recommends_created_at_gteq, :class => "form-control", :placeholder => "Recommend Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='recommendslteqcreated_atPicker'>
                  <%= f.text_field :recommends_created_at_lteq, :class => "form-control", :placeholder => "Recommend Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#recommendsgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#recommendslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#recommendsgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#recommendslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#recommendslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#recommendsgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "User Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='sendergteqcreated_atPicker'>
                  <%= f.text_field :sender_created_at_gteq, :class => "form-control", :placeholder => "User Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='senderlteqcreated_atPicker'>
                  <%= f.text_field :sender_created_at_lteq, :class => "form-control", :placeholder => "User Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#sendergteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#senderlteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#sendergteqcreated_atPicker').on("dp.change", function (e) {
                  $('#senderlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#senderlteqcreated_atPicker').on("dp.change", function (e) {
                  $('#sendergteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/friends" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#friends_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Sender</th>
        <th>Accepted at</th>
        <th>Actions</th>
      </tr>

      <% @friends.each do |friend| %>
      <tr>
        <td>
          <% if friend.sender.present? %>
            <a href="/users/<%= friend.sender.id %>">
              <%= friend.sender.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= friend.accepted_at %></td>
        <td>
          <a href="/friends/<%= friend.id %>" class="btn btn-primary">Show</a>
          <a href="/friends/<%= friend.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_friend/<%= friend.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @friends, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
