<div class="page-header">
  <h3>Friend #<%= @friend.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd>
        <% if @friend.sender.present? %>
          <a href="/users/<%= @friend.sender_id %>">
            <%= @friend.sender.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Accepted at</dt>
      <dd><%= @friend.accepted_at %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/friends" class="btn btn-primary">
        Back
      </a>
      <a href="/friends/<%= @friend.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_friend/<%= @friend.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Friend has many recommends -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recommends
      </li>

      <% @friend.recommends.each do |recommend| %>
        <li class="list-group-item">
          <a href="/recommends/<%= recommend.id %>">
            <%= recommend.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommends/<%= recommend.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommends/<%= recommend.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommend/<%= recommend.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_recommend" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rating_id -->
      <div class="form-group">
        <label for="rating_id" class="control-label">
          Rating
        </label>

        <%= select_tag(:rating_id, options_from_collection_for_select(Rating.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for friend_id -->
      <input type="hidden" name="friend_id" value="<%= @friend.id %>">

      <!-- Label and input for entertainment_id -->
      <div class="form-group">
        <label for="entertainment_id" class="control-label">
          Entertainment
        </label>

        <%= select_tag(:entertainment_id, options_from_collection_for_select(Entertainment.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Recommend
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
